.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-gray);
  width: 200px;
  height: 370px;
  padding: 8px;
}

.container > div {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container > img {
  width: auto;
  object-fit: contain;
  height: 200px;
}
