
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}

.container button {
  width: 38px;
  height: 38px;
  border: 1px solid var(--light-gray);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.container button.selected {
  background-color: red;
  color: white;
  font-weight: bold;
}

.itemsPerPage {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 4px;
}

.arrows {
  cursor: pointer;
}
