.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
}

.header {
  display: flex;
  align-items: center;
  color: black;
  width: 1000px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 48px;
  gap: 32px;
}

.back {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
}

.breadcrumb .prev {
  font-size: 18px;
  cursor: pointer;
}

.breadcrumb .current {
  font-size: 24px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imageAndCards {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.imageCard {
  display: flex;
  height: 500px;
  max-height: 500px;
  max-width: 600px;
  object-fit: contain;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  flex: 1;
}

.infosCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 32px 48px;
  width: 350px;
  max-width: 350px;
}

.infosCard .title {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.infosCard .available {
  font-size: 12px;
  align-self: center;
  margin-bottom: 32px;
}

.infosCard .info {
  font-size: 14px;
  margin-bottom: 8px;
}

.infosCard .rentButton {
  margin-top: 16px;
}

.actionsCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 48px;
  gap: 16px 24px;
}

.actionsCard .title {
  font-size: 24px;
}

.detailsCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 48px;
  gap: 4px;
  font-size: 14px;
}

.detailsCard .title {
  margin-bottom: 20px;
  font-size: 24px;
}
