.container {
  display: flex;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 24px;
  gap: 16px;
}

.headerAndBooksContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  align-items: flex-end;
  padding: 24px 0px;
  gap: 16px;
}

.booksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 920px;
  gap: 16px;
}
