
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-gray);
  width: 200px;
  height: 370px;
  padding: 8px;
}

.container > div {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.container > img {
  width: auto;
  object-fit: contain;
  height: 200px;
}
