
html, body, #app {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  flex: 1;
}

* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary: #ED2626;
  --light-gray: #DBDBDB;
  --gray: #999999;
  --danger: #FF0000;
}
